@import 'node_modules/bootstrap/scss/functions';

$primary: #7F5D7F !default;
$secondary: #593259 !default;
$success: #8BBB45 !default;
$info: #56CCF2 !default;
$warning: #FF9000 !default;
$danger: #EB5757 !default;
$white: #FFFFFF !default;
$light: $white !default;
$dark: #7A7A7A !default;

$link-color: $secondary !default;

$form-floating-height:  add(3rem, 0);


@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/bootstrap';

/*-----------------------------------------------
|   Componentes
-----------------------------------------------*/
@import 'components';

