@import "node_modules/bootstrap/scss/functions";

$primary: #7f5d7f !default;
$secondary: #593259 !default;
$success: #8bbb45 !default;
$info: #56ccf2 !default;
$warning: #ff9000 !default;
$danger: #eb5757 !default;
$white: #ffffff !default;
$light: $white !default;
$dark: #7a7a7a !default;

$link-color: $secondary !default;

$form-floating-height: add(3rem, 0);

@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "components";
